- @title = "JSDetox"
- @subtitle = "Version #{JSDetox::VERSION}"
- @current_nav = :about

%p
  JSDetox is a Javascript malware analysis tool using static
  analysis / deobfuscation techniques and an execution engine
  featuring HTML DOM emulation.

%p
  For more information, visit the 
  = link_to 'project website', 'http://relentless-coding.org/projects/jsdetox'
  or the 
  = link_to 'github repository', 'http://github.com/svent/jsdetox'

%br/

%p
  %strong
    Copyright &copy; 2012-2014 - Sven Taute

%br/

%p
  :plain
    JSDetox is free software: you can redistribute it and/or modify<br/>
    it under the terms of the GNU General Public License version 2<br/>
    as published by the Free Software Foundation.<br/>
    <br/>
    This program is distributed in the hope that it will be useful,<br/>
    but WITHOUT ANY WARRANTY; without even the implied warranty of<br/>
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br/>
    GNU General Public License for more details.<br/>
    <br/>
    You should have received a copy of the GNU General Public License<br/>
    along with this program.  If not, see &lt;http://www.gnu.org/licenses/&gt;.<br/>
